<head>
    <title>HomePage</title>
</head>
<body>
(movie_id, movie_title, movie_release_date,movie_time,director_name)
    <form action="./index.js/" method="post">
        <div style="text-align: center;">
            <table>
                <tr>
                    <td>Name</td> <td><input type="text" name="movie_id" value=""></td>
                    
                </tr>
                <tr>
                    <td>Password</td> <td><input type="text" name="movie_title" value=""></td>
                    
                </tr>
                <tr>
                    <td>Email</td> <td><input type="date" name="movie_release_date" value=""></td>
                    
                </tr>
                <tr>
                    <td>City</td> <td><input type="text" name="movie_time" value=""></td>
                    
                </tr>
                <tr>
                    <td>State</td> <td><input type="text" name="director_name" value=""></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>